extends /templates/shared/_layout

block content
  +pagetitle('About', 'primary')

  +item('Conference Venue', '', '', 'primary')
    img(src='/images/harpa-hjupur.jpg')

    p Harpa is one of Reykjavik‘s greatest landmarks, located by the picturesque Reykjavík harbour in the city centre and features stunning views of the surrounding mountains and the North Atlantic Ocean. Everything you need is within reach like hotels, restaurants, museums, art galleries and shopping as well as various activities and sightseeing in Iceland‘s exotic nature.

    p: a.button.color-primary.outline(href='https://en.harpa.is/harpa' target='_blank') Learn more about Harpa

  +item('About', '', '', 'primary')
    p IceWeb is an international web conference that has been held since 2006 and covers web related elements such as design, development, marketing, content and performance to name a few.

    p This years event we are proud to present amazing speakers who bring diverse and deep expertise on various topics significant to the web community.

    p Iceweb is organized by SVEF (the Icelandic Web Industry Association). SVEF is a non profit organization devoted to sharing and bringing knowledge to the web industry in Iceland.

    p: a.button.color-svef.outline(href='http://svef.is' target='_blank') Learn more about SVEF

  //- Hide until vefverdlaun.is is ready
  //- +item('the Icelandic Web Awards', '', '', 'primary')
  //-   p In addition to this conference, SVEF organizes the Icelandic Web Awards. This year they will be held on the same day, right after the conference. Admittance is free so we encourage all guests to check it out.

  //-   p: a.button.color-awards.outline(href='http://vefverdlaun.is' target='_blank') Learn more about the <b>Icelandic Web Awards</b>

  +item('Contact info', '', '', 'primary')
    p For additional information, future speaking opportunities or sponsorship please contact:

    p
      | Unnur Mjöll S. Leifsdóttir
      br
      | Director of Operation - SVEF
    p
      a.button.color-primary.outline(href='mailto:unnur@svef.is') unnur@svef.is
      | &nbsp;
      a.button.color-primary.outline(href='tel:+3548241979') +354 824 1979
