extends /templates/shared/_layout

block content
  +pagetitle('Dómnefnd', 'green')

  +item('Hver er í dómnefnd?', '', '', 'green')
    p Vefakademían er á hverju ári skipuð einstaklingum með sérþekkingu og brennandi áhuga á vefmálum sem taka að sér að velja þá vefi sem hljóta íslensku vefverðlaunin. Dómnefndina skipa 7 aðilar sem starfa innan vefiðnaðarins, auk varamanna.

  +item('Breiður hópur sérfræðinga', '', '', 'green')
    p Leitast er við að hafa hópinn sem breiðastan þannig að reynsla og þekking á ólíkum sviðum sé sem mest. Litið er sérstaklega til þekkingar á viðmóti, vefhönnun, markaðssetningu á netinu, forritun, vefumsjón, vefstjórnun, og fleiri þátta er lúta að störfum innan vefiðnaðarins.

  +item('Hlutleysi dómnefndar', '', '', 'green')
    p Mjög strangar reglur gilda um störf dómnefndar. Ef aðili í dómnefnd er tengdur vef/verkefni sem er tilnefnt til verðlauna, þá má sá hinn sami hvorki greiða atkvæði né taka þátt í umræðum þeirra flokka er vefurinn tengist. Sé dómari vanhæfur skal varamaður greiða atkvæði og taka þátt í umræðum þeirra flokka.

  +item('Tilnefningar', '', '', 'green')
    p Ef þið hafið sérfræðiþekkingu og brennandi áhuga á vefmálum eða vitið af slíkum einstaklingum þá hvetjum við ykkur til að senda inn tilnefningar í dómnefnd. Ekki er skilyrði að viðkomandi sé meðlimur í SVEF.
    p Tekið er á móti tilnefningum í dómnefnd í lok hvers árs, og tekur hún formlega til starfa strax og lokað hefur verið fyrir innsendingar verkefna.
    br
    p: a.button.color-green(href='https://goo.gl/forms/P4MiLGGGBSzfKCa22') Tilnefna í dómnefnd

  //- +item('Dómnefnd', '', '', 'green', '2016')
      p Dómnefnd verður kynnt til leiks eftir að störfum hennar líkur.

  //-
    +item('Dómnefnd', '', '', 'green', '2015')
      p Formaður dómnefndar var <b>María Ásdís Stefánsdóttir, vefstjóri Háskóla Íslands</b>. Auk hennar sátu í dómnefnd:
      ul.green
        li Aðalgeir Arnar Jónsson a.k.a Alli Metall, hönnuður hjá Meniga
        li Alison MacNeil, vörustjóri hjá Meniga
        li Jónatan Arnar Örlygsson, Verkefnastjóri vefþróunar hjá Tækniskólanum
        li Kristján Ingi Mikaelsson, tækniþróunarstjóri hjá Watchbox
        li Magnús Davíð Magnússon, forritari hjá Ueno
        li Magnús Þór Bjarnason, hönnuður hjá Hugsmiðjunni
        li Ragnar Þór Valgeirsson, forritari hjá Aranja

      p auk varamanna:

      ul.green
        li Andrésar Jónssonar, stofnanda og eiganda Góðra samskipta
        li Ingva Jökuls Logasonar, framkvæmdastjóra HN
