extends /templates/shared/_layout

block content
  +pagetitle('Flokkar', 'red')

  +item('Fyrirkomulag', '', '', 'red')
    p Íslensku vefverðlaunin 2016 verða veitt í 13 flokkum en fjöldi flokkanna endurspeglar breidd þeirra verkefna sem vefiðnaðurinn á Íslandi kemur að.

    p Flokkar sem hægt er að tilnefna í:

    ul.red
      li Fyrirtækjavefur ársins (lítil og meðalstór fyrirtæki)
      li Fyrirtækjavefur ársins (stærri fyrirtæki, 50+)
      li Efnis- og fréttaveita ársins
      li Opinberi vefur ársins
      li Markaðsvefur ársins
      li App ársins
      li Vefapp ársins
      li Samfélagsvefur ársins
      li Vefverslun ársins
      li Innri vefur ársins
      li Vefkerfi ársins

    p Dómnefnd veitir þar að auki tvenn auka verðlaun fyrir vefi sem skara fram úr:

    ul.red
      li Hönnun og viðmót
      li Vefur ársins

  +flokkur(
    {
      title: 'Vefur ársins',
    },
    {
      description: 'Dómnefnd velur þann vef sem þykir fremstur meðal jafningja, en vefur ársins er að vanda valinn úr tilnefndum vefjum í neðangreindum flokkum.',
    }
  )

  +flokkur(
    {
      title: 'Hönnun og viðmót',
    },
    {
      description: 'Dómnefnd velur þann vef sem þykir skara fram úr í samþættingu á góðu notendaviðmóti og góðri hönnun sem svo spilar vel með starfsemi fyrirtækisins eða vefsins sem um ræðir.',
    }
  )

  +flokkur(
    {
      title: 'Val fólksins',
    },
    {
      description: 'Félagsmenn SVEF velja þann vef sem þeim þótti athyglisverðastur á árinu, valið er að mörgu leiti opið en leitast er við að finna vef sem þótti vera með áhugaverða nálgun á framsetningu efnis, notkun á tækni, uppbyggingu innihalds o.s.frv.<br><br>Í ár er bryddað upp á þeirri nýbreytni að leita til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á árinu. Þetta árið verða eftirfarandi viðurkenningar veittar:<br><br><ul class="red"><li>Vefhetja ársins</li><li>Opin hugbúnaður/verkefni ársins</li><li>Besti einstaklingsvefur</li></ul><a class="button color-red outline" href="https://goo.gl/forms/IqvZVCfWRGoP7ruD2" target="_blank">Tilnefna til viðurkenninga</a>',
    }
  )

  +flokkur(
    {
      title: 'Fyrirtækjavefur ársins',
      subtitle: 'lítil og meðalstór fyrirtæki',
    },
    {
      description: 'Undir þennan flokk falla vefir fyrirtækja með færri en 50 starfsmenn. Hér er átt við alla almenna upplýsingavefi sem kynna þjónustu og/eða vörur viðkomandi fyrirtækis.',
      examples: ['Tix', 'Meniga', 'Nikita Clothing']
    }
  )
  +flokkur(
    {
      title: 'Fyrirtækjavefur ársins',
      subtitle: 'stærri fyrirtæki, 50+',
    },
    {
      description: 'Undir þennan flokk falla vefir fyrirtækja með 50 starfsmenn eða fleiri. Hér er átt við alla almenna upplýsingavefi sem kynna þjónustu og/eða vörur viðkomandi fyrirtækis.',
      examples: ['Icelandair', 'Síminn', 'Orka Náttúrunnar']
    }
  )
  +flokkur(
    {
      title: 'Efnis- og fréttaveita ársins',
    },
    {
      description: 'Undir þennan flokk falla t.d. fjölmiðlar, blogg og vefsamfélög. Hér er leitað eftir vef með afþreyingargildi, sem er skemmtilegur og/eða fróðlegur.',
      examples: ['Stundin', 'Kjarninn', 'Mæðgurnar', 'RÚV']
    }
  )
  +flokkur(
    {
      title: 'Opinberi vefur ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir tengdir opinberum aðilum hér á landi. Þar má nefna ríki, sveitarfélög og alla tengda starfsemi.',
      examples: ['Ísland.is', 'Vínbúðin', 'Lögreglan', 'MATÍS']
    }
  )
  +flokkur(
    {
      title: 'Markaðsvefur ársins',
    },
    {
      description: 'Undir þennan flokk falla t.d. vefir sem tengjast markaðsherferðum. Litið verður til hugmyndar, nýnæmis, hönnunar, útfærslu, sérstöðu og árangurs.',
      examples: ['Innri fegurð Bláa Lónsins', 'Iceland Airwaves vefur Landsbankans', 'Höldum fókus']
    }
  )
  +flokkur(
    {
      title: 'App ársins',
    },
    {
      description: 'Undir þennan flokk falla smáforrit (native app) sem eru sérstaklega smíðuð fyrir snjalltæki (t.d. snjallsíma eða spjaldtölvur). Þar má nefna leiki, þjónustur, upplýsinga- og afþreyingarveitur.',
      examples: ['Aur', 'Airwaves', 'Quizup', 'Já']
    }
  )
  +flokkur(
    {
      title: 'Vefapp ársins'
    },
    {
      description: 'Undir þennan flokk falla vefir sem eru sérstaklega smíðaður til að vera notaðir á svipaðan/sambærilegan hátt og hefðbundin öpp, en í vafra.',
      examples: ['Gengi.is', 'Quizup.com', 'Mappan']
    }
  )
  +flokkur(
    {
      title: 'Samfélagsvefur ársins',
      subtitle: 'Hét áður non-profit'
    },
    {
      description: 'Undir þennan flokk falla vefir sem hafa það að markmiði að bæta samfélagið á einn eða annan máta. Þar má m.a. telja vefsvæði góðgerðamála eða félagasamtaka.',
      examples: ['Visindavefurinn', 'Hlaupastyrkur', 'Bréf til bjargar lífi']
    }
  )
  +flokkur(
    {
      title: 'Vefverslun ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir sem bjóða vörur og/eða þjónustu til sölu þar sem hægt er að ganga frá kaupum á netinu. Leitað er eftir vandaðri og skilmerkilegri uppsetningu á efni þar sem að kaupflæðið er einfalt, öruggt og hraðvirkt.',
    }
  )
  +flokkur(
    {
      title: 'Innri vefur ársins',
    },
    {
      description: 'Undir þennan flokk falla þjónustusvæði sem hugsuð eru fyrir starfsmenn fyrirtækja, t.d. innri vefir.',
      examples: ['Flugan (innri vefur Isavia)', 'MyWork (innri vefur Icelandair)', ' Þjónustuvefur Mílu']
    }
  )
  +flokkur(
    {
      title: 'Vefkerfi ársins',
    },
    {
      description: 'Undir þennan flokk falla þjónustusvæði sem hugsuð eru fyrir viðskiptavini fyrirtækja, þar sem innskráningar er krafist. Þjónustusvæði sem þessi bjóða gagnvirkar leiðir til að sækja þjónustu og vinna með upplýsingar.<br><br>Til þess að dómnefnd geti dæmt þess verkefni óskum við eftir að dómnefnd fái aðgang að viðkomandi vefkerfi eða að með innsendingu fylgi myndband sem sé lýsandi fyrir virkni kerfisins.',
      examples: ['Heilsuvera', 'Netbanki Landsbankans', 'Þjónustuvefur Símans']
    }
  )
