extends /templates/shared/_layout

block content
  +pagetitle('Flokkar', 'red')

  +item('Fyrirkomulag', '', '', 'red')
    p Íslensku vefverðlaunin 2017 verða veitt í 13 flokkum en fjöldi flokkanna endurspeglar breidd þeirra verkefna sem vefiðnaðurinn á Íslandi kemur að.

    p Flokkar sem hægt er að senda inn í:

    ul.red
      li Fyrirtækjavefur ársins (lítil fyrirtæki)
      li Fyrirtækjavefur ársins (meðalstór fyrirtæki)
      li Fyrirtækjavefur ársins (stór fyrirtæki)
      li Markaðsvefur ársins
      li Vefverslun ársins
      li Efnis- og fréttaveita ársins
      li Opinberi vefur ársins
      li Vefkerfi ársins
      li App ársins
      li Samfélagsvefur ársins
      li Gæluverkefni ársins, nýr flokkur

    p Dómnefnd veitir þar að auki tvenn auka verðlaun fyrir vefi sem skara fram úr:

    ul.red
      li Hönnun og viðmót
      li Vefur ársins

  +flokkur(
    {
      title: 'Fyrirtækjavefur ársins',
      subtitle: 'Lítil fyrirtæki'
    },
    {
      description: 'Undir þennan flokk falla vefir fyrirtækja með 10 eða færri starfsmenn á launaskrá. Hér er átt við alla almenna vefi sem kynna þjónustu eða vörur viðkomandi fyrirtækis.',
      examples: ['Tix'],
      price: '9.900',
      earlybird: '6.990'
    }
  )

  +flokkur(
    {
      title: 'Fyrirtækjavefur ársins',
      subtitle: 'Meðalstór fyrirtæki'
    },
    {
      description: 'Undir þennan flokk falla vefir fyrirtækja með 11 til 80 starfsmenn á launaskrá. Hér er átt við alla almenna vefi sem kynna þjónustu eða vörur viðkomandi fyrirtækis.',
      examples: ['Sinfóníuhljómsveit Íslands', 'Meniga'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Fyrirtækjavefur ársins',
      subtitle: 'Stór fyrirtæki'
    },
    {
      description: 'Undir þennan flokk falla vefir fyrirtækja með 80+ starfsmenn á launaskrá. Hér er átt við alla almenna vefi sem kynna þjónustu eða vörur viðkomandi fyrirtækis.',
      examples: ['Sjóvá ', 'Alvogen'],
      price: '29.900',
      earlybird: '22.900'
    }
  )

  +flokkur(
    {
      title: 'Markaðsvefur ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir er tengjast markaðsherferðum, atburðum og/eða skilgreinast sem míkróvefir (e. microsites). Litið verður til hönnunar, efnis, nýnæmis og tæknilegrar útfærslu.',
      examples: ['Zero Financial', 'Innri fegurð Bláa Lónsins', 'Iceland Airwaves vefur Landsbankans'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Vefverslun ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir sem bjóða vörur og/eða þjónustu til sölu þar sem hægt er að ganga frá kaupum á netinu. Leitað er eftir vandaðri og skilmerkilegri uppsetningu á efni þar sem að kaupferlið er notendavænt.',
      examples: ['Tix Miðasala'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Efnis- og fréttaveita ársins',
    },
    {
      description: 'Undir þennan flokk falla t.d. fjölmiðlar, blogg og vefsamfélög. Hér er leitað eftir vef með afþreyingargildi, sem er skemmtilegur, fróðlegur eða bæði.',
      examples: ['Kjarninn', 'Mæðgurnar', 'RÚV'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Opinberi vefur ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir tengdir opinberum aðilum hér á landi. Þar má nefna ríki, sveitarfélög og alla tengda starfsemi. Verkefni þurfa að mestum hluta að vera kostuð af ríki eða sveitarfélagi.',
      examples: ['Ísland.is', 'Lögreglan', 'MATÍS'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Vefkerfi ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir sem hugsaðir eru fyrir viðskiptavini fyrirtækja þar sem innskráningar er krafist. Þessir vefir bjóða upp á gagnvirkar leiðir til að sækja þjónustu og vinna með upplýsingar. Til þess að dómnefnd geti dæmt þessi verkefni, óskar stjórn SVEF eftir að dómnefnd fái aðgang að viðkomandi vefkerfi.',
      examples: ['FitSuccess fjarþjálfun', 'Netbanki Landsbankans', 'Þjónustuvefur Símans'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'App ársins',
    },
    {
      description: 'Í flokkinn „app ársins“ má tilnefna öll verkefni sem eru sérstaklega smíðuð fyrir snjalltæki eins og t.d. snjallsíma eða spjaldtölvur. Smáforrit geta verið leikir, þjónustur, upplýsinga- og afþreyingarveitur o.fl. Gerð er krafa um að appið hafi verið gefið út í app store fyrir iOS, Android eða sambærileg stýrikerfi.',
      examples: ['QuizUp', 'Kass', 'Strætó'],
      price: '19.900',
      earlybird: '14.900'
    }
  )

  +flokkur(
    {
      title: 'Samfélagsvefur ársins',
    },
    {
      description: 'Undir þennan flokk falla vefir sem hafa það að markmiði að bæta samfélagið á einn eða annan máta. Þar má m.a. telja vefsvæði góðgerðamála eða félagasamtaka.',
      examples: ['Ísland.is', 'Lögreglan', 'MATÍS'],
      price: '4.990'
    }
  )

  +flokkur(
    {
      title: 'Gæluverkefni ársins',
      subtitle: 'Nýr flokkur'
    },
    {
      description: 'Þessi flokkur verðlaunar verkefni unnin fyrir lítið eða ekkert fjármagn. Flokkurinn er sérstaklega hugsaður fyrir þau sem eru að gera verkefnin í eigin tíma eða fyrir nemendur sem eru að vinna að verkefnum í eða með skóla.',
      examples: ['hvaderibio.is ', 'gengi.is'],
      new: true,
      studentPrice: '1.990',
      price: '4.990'
    }
  )

  +flokkur(
    {
      title: 'Hönnun og viðmót',
    },
    {
      description: 'Dómnefnd velur þann vef sem þykir skara fram úr í samþættingu á góðu notendaviðmóti og góðri hönnun sem svo spilar vel með starfsemi fyrirtækisins eða vefsins sem um ræðir.',
    }
  )

  +flokkur(
    {
      title: 'Vefur ársins',
    },
    {
      description: 'Dómnefnd velur þann vef sem þykir fremstur meðal jafningja, en vefur ársins er að vanda valinn úr tilnefndum vefjum í öllum flokkum.',
    }
  )

  .item(class=`color-red` id='innsendingar')
    grid
      column.large-up-offset-1.large-10
        h2.item__title(num=num) Gjaldgengir vefir
        .item__content

          p Ekki er gerð krafa að verkefni sem send eru inn til íslensku vefverðlaunanna hafi verið unnin eða gefin út á árinu 2017. Margir vefir eru í eðli sínu í stöðugri þróun og eru því allir vefir sem komnir voru í loftið fyrir lok árs 2017 velkomnir.

          p Stuðst er við víða skilgreiningu á því hvaða vefir geti tekið þátt í íslensku vefverðlaununum. Að vefurinn sé unninn fyrir Íslandsmarkað eða fyrir íslenskt fyrirtæki eða sé unnin að megninu til (meira en 50% af heild) á Íslandi eða af íslensku fyrirtæki. Komi upp vafaatriði tekur dómnefnd málið til umfjöllunar og hefur möguleika á að vísa álitamálum til stjórnar SVEF.

  //- .item(class=`color-red` id='innsendingar')
    grid
      column.large-up-offset-1.large-10
        h2.item__title(num=num) Innsendingar
        .item__content

          p Tekið verður á móti innsendingum fyrir árið 2017 fram til 5. desember 2017.

          p Leyfilegt að skila gögnum til 10. desember 2017.
          br
          p: a.button.color-red(href='https://docs.google.com/forms/d/e/1FAIpQLSdh8rabnywxVwPmG6snEm8fmF1ABS7QEskMfAPL55rJX5bawQ/formResponse' target="_blank") Senda inn vef
