extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span Íslensku vefverðlaunin
    .title 27. jan

    p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla hann, verðlauna bestu vefina og hvetja þá sem starfa á þessum vettvangi til dáða.
    p Fyrir 2016 verða verðlaunin afhent <a href="https://www.facebook.com/events/1822973447990663/" target="_blank">27. janúar 2017</a> við hátíðlega athöfn í Hörpunni. Húsið opnar <b>kl 17:30</b> og er athöfnin öllum opin og vonum við að sem flestir sjái sér fært að mæta og taka þátt í gleðinni.

    p: a.button.color-primary(href='/tilnefningar.html' target='_blank') Skoða tilnefningar
