extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span Íslensku vefverðlaunin
    .title.color-red 26. jan

    p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla hann, verðlauna bestu vefina og hvetja þá sem starfa á þessum vettvangi til dáða. Fyrir 2017 verða verðlaunin afhent <a href="https://www.facebook.com/events/175703772996318/" target="_blank">26. janúar 2018</a> við hátíðlega athöfn í Hörpunni.

    //- p Tekið verður á móti innsendingum fyrir árið 2017 fram til 5. desember 2017.

    //- p: a.button.color-primary(href='https://goo.gl/forms/QgBZyyaKcup6qnG12' target="_blank") Senda inn vef

    //-
      p Ef þið hafið sérfræðiþekkingu og brennandi áhuga á vefmálum eða vitið af slíkum einstaklingum þá hvetjum við ykkur til að senda inn tilnefningar í dómnefnd. Ekki er skilyrði að viðkomandi sé meðlimur í SVEF.

      p: a.button.color-green(href='https://goo.gl/forms/P4MiLGGGBSzfKCa22' target="_blank") Tilnefna í dómnefnd
