extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span Íslensku vefverðlaunin
    .title 27. jan

    p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla hann, verðlauna bestu vefina og hvetja þá sem starfa á þessum vettvangi til dáða.
    p Fyrir 2016 verða verðlaunin afhent 27. janúar 2017 við hátíðlega athöfn í Hörpunni. Athöfnin er öllum opin og vonum við að sem flestir sjái sér fært að mæta og taka þátt í gleðinni.

    //- p: a.button(href='http://svef.is/vidburdir/iceweb2017/' target='_blank') Buy tickets
