extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span IceWeb Conference
    .title Let's talk digital

    p IceWeb is an international web conference that has been held since 2006 and covers web related elements such as design, development, marketing, content and performance.
    p Join us for <a href="/workshop.html">Workshops</a> on the 26th and the <a href="/schedule.html">conference</a> on the 27th of January
    //- p: small This website is slowly but steadily getting set up, but you can <a href="http://svef.is/vidburdir/iceweb2017/" target="_blank">buy tickets</a> right away
    p: a.button(href='http://svef.is/vidburdir/iceweb2017/' target='_blank') Buy tickets
