extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span Íslensku vefverðlaunin
    .title.color-red 22. feb

    p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla hann, verðlauna bestu vefina og hvetja þá sem starfa á þessum vettvangi til dáða.

    p Íslensku vefverðlaunin verða haldin föstudaginn 22. febrúar 2019 við hátíðlega athöfn á Hilton hótel Nordica.

     //-Gleðin byrjar með fordrykk og léttum veitingum kl. 17:30 en verðlaunaafhendingin hefst stundvíslega kl. 18:00.

    //- p Allir félagar í SVEF fá frítt inn að vanda en aðrir þurfa að borga 4.900 kr. til að mæta kostnaði. Að þessu sinni verður nauðsynlegt að skrá sig:

    //- p: a.button.color-green(href='https://skraning.vefverdlaun.is/' target="_blank") Skrá mig á verðlaunaafhendingu

    //- p: a(href="/verdlaunaafhending.html") Nánari upplýsingar (borðapantanir / vínpantanir)

    //- p Munið að <a href="https://2018.iceweb.is/">IceWeb ráðstefnan</a> er kl. 12:30-17 þennan sama dag og mun þar fjölbreyttur hópur fyrirlesara halda erindi.

    //-
      p SVEF leitar til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á seinasta ári.

      p: a.button.color-green(href='/vidurkenningar.html' target="_blank") Viðurkenningar

    p Tekið verður á móti innsendingum fyrir árið 2018 fram til 11. janúar 2019.

    p: a.button.color-primary(href='https://goo.gl/forms/pxiSp6zGEOJMIe6U2' target="_blank") Senda inn vef


    p Ef þið hafið sérfræðiþekkingu og brennandi áhuga á vefmálum eða vitið af slíkum einstaklingum þá hvetjum við ykkur til að senda inn tilnefningar í dómnefnd. Ekki er skilyrði að viðkomandi sé meðlimur í SVEF.

    p: a.button.color-green(href='https://goo.gl/forms/wiujfetStoB20kEc2' target="_blank") Tilnefna í dómnefnd
