extends /templates/shared/_layout

block content
  +pagetitle('Speakers', 'green')

  +item('Birkir Gunnarsson', '', '/images/birkir@2x.png', 'green')
    p Birkir has worked with a variety of Fortune 500 corporations, building enterprise accessibility programs from the ground up. He has worked in various W3C accessibility working groups, such as the ARIA and ARIA Authoring Practices groups. He currently co-chairs the auto-WCAG group, a group tasked with creating W3C approved accessibility tests. He participated in the European Inclusive Internet Initiative (EIII), contributed examples to Deque University and has worked on the aXe open source accessibility testing platform. He recently accepted the position of digital accessibility lead at BB&amp;T bank, one of the U.S.'s largest banks, where he plans to implement the most efficient and effective accessibility program in the financial industry. He likes to spice up his presentations with terrible puns and even worse music, so do not expect to fall asleep in this workshop.

  +item('Donna Lichaw', '', '/images/donna@2x.png', 'green')
    p Donna Lichaw brings almost two decades of experience guiding startups, non-profits, and global brands in optimizing their digital products and services by providing them with a simplified way to drive user engagement through impactful storytelling. As a consultant, speaker, writer, and educator, she utilizes a ‘story first’ approach to help teams define their product's value proposition, transform their thinking, and better engage with their core customers. Prior to her career in technology, she refined her talent for storytelling and narrative development as an award-winning documentary filmmaker. She is the author of The User’s Journey: Storymapping Products That People Love. For more information visit www.donnalichaw.com.

  +item('Harry Roberts', '', '/images/harry@2x.png', 'green')
    p With a client list including Google, Unilever, and the United Nations, Harry is an award-winning Consultant Front-end Architect who helps organisations and teams across the globe to plan, build, and maintain product-scale UIs.

    p A Google Developer Expert, he writes on the subjects of CSS architecture, performance, and scalability at csswizardry.com; develops and maintains inuitcss; authored CSS Guidelines; and Tweets at @csswizardry.

  +item('Paul Boag', '', '/images/paul@2x.png', 'green')
    p Paul Boag is a <a href="https://boagworld.com/boagworks/strategy/">user experience strategic designer</a>, <a href="http://https://boagworld.com/books/">author</a> and <a href="https://boagworld.com/boagworks/speaking/">speaker</a>. He helps not-for-profits such as the European Commission, UCAS and Doctors Without Borders adapt to the digital world. He also works with many sizeable commercial clients. He refocuses them on user experience and engaging with a new digitally savvy audience. All the while pursuing his <a href="https://boagworld.com/boagworks/hidden-agenda/">not-so-hidden agenda</a>... <a href="https://boagworld.com/boagworks/feedback/">Read what people have to say about Paul.</a>

  +item('Steinar Farestveit', '', '/images/steinar@2x.png', 'green')
    p Steinar is the Creative Director at Kolibri, an agency that assists companies with their digital transformation with organizational consulting and the deployment of cross-functional software development teams. He has experience designing for a wide spectrum of digital platforms in various fields, such as advertising, web development, and software development. In recent years Steinar has been increasing his focus on cultivating design-driven cultures and the building of design teams.

  +item('Vitaly Friedman', '', '/images/vitaly@2x.png', 'green')
    p Vitaly Friedman loves beautiful content and does not give up easily. Originally from Minsk, Belarus, he studied computer science and mathematics in Germany and discovered a passion for typography, writing and design. After working as a freelance designer and developer for 6 years, he co-founded Smashing Magazine, a leading online magazine dedicated to design and web development. Vitaly is the author, co-author and editor of all Smashing books and currently works as editor-in-chief of the magazine in the lovely city of Freiburg, Germany.
