extends /templates/shared/_layout

block content
  +pagetitle('Tilnefningar', 'blue')


  section: grid
    column.large-up-offset-1.large-10
      h3 Tilnefningar 2017

  +item('Vefur ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        p Dómnefnd velur þann vef sem þykir fremstur meðal jafningja, en vefur ársins er að vanda valinn úr tilnefndum vefjum í neðangreindum flokkum.

        +winner('Nova', 'https://www.nova.is/', [])
        blockquote.judges
          p Vefur ársins er framúrskarandi vefur sem gefur góða mynd af starfsemi og ímynd fyrirtækisins. Vefurinn er frumlegur og líflegur og styður vel við það sem fyrirtækið stendur fyrir. Samspil efnis, hreyfiefnis og verslunar er mjög vel útfært svo ánægjulegt er að vafra um fyrir viðskiptavini—enda er um að ræða stærsta skemmtistað í heimi.

  +item('Hönnun & viðmót', '', '', 'blue')
    grid.text-left
      column.large-10
        p Dómnefnd velur þann vef sem þykir skara fram úr í samþættingu á góðu notendaviðmóti og góðri hönnun sem svo spilar vel með starfsemi fyrirtækisins eða vefsins sem um ræðir.

        +winner('Kolibri', 'https://www.kolibri.is', [])
        blockquote.judges
          p Framúrskarandi notendaviðmót snýst um skýrleika, stöðugleika og einfaldleika. Vefurinn sem nú er verðlaunaður er vel hannaður og skýr en á sama tíma er hugsað út í hvert smáatriði. Notendaviðmót og öll hreyfing er mjög góð og flokkun efnis á vefnum er leyst á eftirtektarverðan hátt.

  +item('Markaðsvefur ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Lygamælir Sorpu', 'http://lygamaelir.sorpa.is/', [])
        blockquote.judges
          p Vefurinn sem um ræðir er eftirminnilegur vefur sem nær athygli notandans á frumlegan og skemmtilegan hátt. Markaðsskilaboðum er komið vel til skila á myndrænan hátt á frekar óspennandi viðfangsefni.

      column.large-5
        +nominee('Iceland A–Ö', 'https://www.inspiredbyiceland.com/a-o', [])
      column.large-up-offset-1.large-5
        +nominee('Landsbankinn + Iceland Airwaves', 'https://www.landsbankinn.is/icelandairwaves', [])
      column.large-5
        +nominee('Tónlistinn', 'http://www.tonlistinn.tv/', [])
      column.large-up-offset-1.large-5
        +nominee('Tyllidagar í Hörpu', 'http://desember.harpa.is/', [])

  +item('Innri vefur ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Riddarinn', '', [])
        blockquote.judges
          p Innri vefur er þjónustusvæði sem hugsað er fyrir starfsmenn fyrirtækja, hvort sem það sé til að miðla upplýsingum til starfsmanna eða tól sem nýtist starfi við þjónustu viðskipavina. Sigurvegarinn í þessum flokki er samfélagsmiðað innranet sem eykur upplýsingaflæði, samskipti milli starfsfólks og stjórnenda, styttri boðleiðir, bætir liðsheild og kúltúr fyrirtækja.
      column.large-10
        +nominee('Innri vefur Hafrannsóknarstofnunar', '', [])

  +item('Vefkerfi ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Meniga', 'https://beta.meniga.is', [])
        blockquote.judges
          p Vefkerfi ársins gefur notendum þess skýra og einfalda sýn á mál sem vefst fyrir mörgum. Og er það ekki einmitt það sem framúrskarandi vefkerfi þarf að gera? Í kerfinu er notendum leyft að setja sér markmið og gerir vefkerfið notendanum það kleift að fylgja því eftir.

      column.large-5
        +nominee('Adversary', 'https://dev.adversary.io', [])
      column.large-up-offset-1.large-5
        +nominee('Farsímavefur Landsbankans', 'https://l.is/', [])
      column.large-5
        +nominee('Payday', 'https://www.payday.is', [])
      column.large-up-offset-1.large-5
        +nominee('Tix', 'http://info.tix.is/', [])

  +item('App ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Meniga', 'https://itunes.apple.com/us/app/meniga/id391085875', [])
        blockquote.judges
          p Appið er einfalt, hagnýtt og vel hannað og skilur eftir góða notendaupplifun sem gefur notandanum yfirsýn á annars fóknu vandamáli. Í appinu má nálgast markmiðasetningu í formi áskorana sem eru innblásnar af vinsælum heilsuöppum og er það fersk nálgun.

      column.large-5
        +nominee('Arion appið', 'https://www.arionbanki.is/einstaklingar/rafraen-vidskipti/appid/', [])
      column.large-up-offset-1.large-5
        +nominee('Iceland Travel Companion', 'https://www.icelandtravel.is/', [])
      column.large-5
        +nominee('Kass', 'https://www.kass.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Síminn Pay', 'https://www.siminn.is/forsida/snjallthjonustur/pay', [])

  +item('Efnis- og fréttaveita ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Vísir.is', 'http://www.visir.is/', [])
        blockquote.judges
          p Vefurinn er nýstárleg taka á efnis- og fréttaveitu, en efninu er komið til skila á einfaldan og skýran hátt. Vefurinn er áhugaverður og skalast vel bæði upp og niður. Myndir fá að njóta sín á vefnum, en gullna sniðið slær í gegn á skemmtilegan hátt.

      column.large-5
        +nominee('Himneskt', 'http://www.himneskt.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Icelandic Lamb', 'http://icelandiclamb.is/', [])
      column.large-5
        +nominee('Ueno.design', 'https://ueno.design/', [])
      column.large-up-offset-1.large-5
        +nominee('Umræðan – efnis- og fréttaveita Landsbankans', 'https://umraedan.landsbankinn.is/', [])

  +item('Opinber vefur ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Þjóðleikhúsið', 'http://www.leikhusid.is/', [])
        blockquote.judges
          p Vefurinn er virðulegur og endurspeglar vel þá ímynd sem stofnunin hefur í hugum allra landsmanna. Sú upplifun sem stofnunin stendur fyrir hefur verið færð á vefinn með dökku þema og virðulegu letri og tekst það vel. Hægt er að nálgast ítarlegar upplýsingar um það sem ber hæst og fær myndefni að njóta sín. Vefurinn er aðgengilegur og einfaldur í notkun.

      column.large-5
        +nominee('Ey tímarit', 'http://eytimarit.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Háskóli Íslands', 'https://www.hi.is/', [])
      column.large-5
        +nominee('Vefur Hafrannsóknarstofnunar', 'https://www.hafogvatn.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Þjóðskrá Íslands', 'https://www.skra.is', [])

  +item('Samfélagsvefur ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Flokkunarleiðbeiningar Sorpu', 'https://flokkid.sorpa.is/', [])
        blockquote.judges
          p Framúrskarandi vefur sem gefur góða mynd af starfsemi ogímynd fyrirtækisins. Vefurinn er efnismikill og greinagóður. Efnivefsins sett fram á skýran og notendavænan máta, og þægilegt erað finna upplýsingar um ólíka möguleika í boði.

      column.large-5
        +nominee('Bueno by Ueno', 'https://bueno.co/', [])
      column.large-up-offset-1.large-5
        +nominee('Finndu leið', 'http://finnduleid.is/', [])
      column.large-5
        +nominee('JSConf Iceland', 'https://2018.jsconf.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Kjóstu rétt', 'https://kjosturett.is', [])

  +item('Vefverslun ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Nova', 'https://www.nova.is/vefverslun', [])
        blockquote.judges
          p Vefurinn er stílhreinn, skemmtilegur og þægilegur og kemur mjög vel út á smærri skjám. Kaupferlið er fallegt, einfalt, fljótvirkt og auðvelt í notkun.

      column.large-5
        +nominee('IKEA', 'https://www.IKEA.is', [])
      column.large-up-offset-1.large-5
        +nominee('Húsasmiðjan og Blómaval', 'https://www.husa.is/', [])
      column.large-5
        +nominee('Nespresso', 'https://nespresso.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Nordic Visitor', 'https://www.nordicvisitor.com/', [])

  +item('Gæluverkefni ársins', '', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Aurbjörg.is', 'https://Aurbjorg.is', [])
        blockquote.judges
          p Gæluverkefni ársins er snjall og skemmtilegur vefur. Upplýsingum er komið á framfæri á skiljanlegan hátt, en hagnýtt gildi vefsins í bland við líflega hönnun gerir þennan vef að sigurvegara í gæluverkefnaflokknum.

      column.large-5
        +nominee('Eldsneyti.com', 'http://eldsneyti.com/', [])
      column.large-up-offset-1.large-5
        +nominee('JSConf Iceland', 'https://2018.jsconf.is/', [])
      column.large-5
        +nominee('Kjóstu rétt', 'https://kjosturett.is', [])
      column.large-up-offset-1.large-5
        +nominee('Thorkelsdottir.com', 'http://www.thorkelsdottir.com', [])

  +item('Fyrirtækjavefur ársins', 'lítil fyrirtæki', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Reykjavík Fashion Festival', 'http://www.rff.is/', [])
        blockquote.judges
          p Vefurinn er framúrstefnulegur og spennandi og vekur áhuga hjá notendum á efninu. Vefurinn styrkir ímynd fyrirtækisins á áhrifaríkan og eftirminnilegan hátt með skemmtilegri notkun á hreyfingu og óheðbundinni uppbyggingu.

      column.large-5
        +nominee('50skills', 'https://www.50skills.com/', [])
      column.large-up-offset-1.large-5
        +nominee('Aranja', 'https://aranja.com/', [])
      column.large-5
        +nominee('Diving Island', 'https://divingisland.com/', [])
      column.large-up-offset-1.large-5
        +nominee('Section 32', 'https://section32.herokuapp.com/', [])

  +item('Fyrirtækjavefur ársins', 'meðalstór fyrirtæki', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Kolibri', 'https://www.kolibri.is', [])
        blockquote.judges
          p Framúrskarandi vandaður vefur sem gefur góða mynd af starfsemi og ímynd fyrirtækisins. Efni á síðunni er vel skipt út og notendaviðmótið er spennandi og býður upp á eitthvað óvænt.

      column.large-5
        +nominee('Brandenburg', 'https://brandenburg.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Hugsmiðjan', 'https://www.hugsmidjan.is/', [])
      column.large-5
        +nominee('Stanford d.school', 'https://dschool.stanford.edu', [])
      column.large-up-offset-1.large-5
        +nominee('Ueno', 'https://ueno.co/', [])

  +item('Fyrirtækjavefur ársins', 'stór fyrirtæki', '', 'blue')
    grid.text-left
      column.large-10
        +winner('Nova', 'https://www.nova.is/', [])
        blockquote.judges
          p Vefurinn er góður markaðsvefur þar sem vöruúrvali, þjónustu og öðru efni er blandað saman á skemmtilegan máta. Hönnunin er fersk, skapandi og stílhrein.  Smáhreyfingar og skiptingar milli skjáa eru sérstaklega vel heppnaðar.

      column.large-5
        +nominee('Efla verkfræðistofa', 'http://www.efla.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Síminn', 'https://www.siminn.is/', [])
      column.large-5
        +nominee('Tækniskólinn, skóli atvinnulífsins', 'http://www.tskoli.is/', [])
      column.large-up-offset-1.large-5
        +nominee('Vodafone', 'https://vodafone.is', [])
