extends /templates/shared/_layout

block content
  +pagetitle('Tilnefningar', 'blue')

  //- section: grid
    column.large-up-offset-1.large-10
      h3 2016

  //- grid
    column.large-up-offset-1.large-4
      +category('Besti íslenski vefurinn')
        //- +winner('?')
        p Dómnefnd velur þann vef sem þykir fremstur meðal jafningja, en vefur ársins er að vanda valinn úr tilnefndum vefjum í neðangreindum flokkum.

    column.large-up-offset-1.large-4
      +category('Besta hönnun og viðmót')
        //- +winner('?')
        p Dómnefnd velur þann vef sem þykir skara fram úr í samþættingu á góðu notendaviðmóti og góðri hönnun sem svo spilar vel með starfsemi fyrirtækisins eða vefsins sem um ræðir.

    column.large-up-offset-1.large-4
      +category('Val fólksins')
        //- +winner('?')

        p Félagsmenn SVEF velja þann vef sem þeim þótti athyglisverðastur á árinu, valið er að mörgu leiti opið en leitast er við að finna vef sem þótti vera með áhugaverða nálgun á framsetningu efnis, notkun á tækni, uppbyggingu innihalds o.s.frv.

    column.large-up-offset-1.large-4
      +category('Viðurkenningar')
        p Í ár var bryddað upp á þeirri nýbreytni að leita til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á árinu. Þetta árið verða eftirfarandi viðurkenningar veittar:

        ul.blue
          li Vefhetja ársins
          li Opin hugbúnaður/verkefni ársins
          li Besti einstaklingsvefur



  +item('Fyrirtækjavefur ársins', 'lítil og meðalstór fyrirtæki', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Kosmos & Kaos', 'http://kosmosogkaos.is')
      column.large-up-offset-1.large-5
        +nominee('Sendiráðið', 'http://www.sendiradid.is')
      column.large-5
        +nominee('Sinfóníuhljómsveit Íslands', 'http://www.sinfonia.is/', ['Hugsmiðjan'])
      column.large-up-offset-1.large-5
        +nominee('Tix Miðasala', 'http://tix.is')
      column.large-5
        +nominee('ueno.', 'http://ueno.co')


  +item('Fyrirtækjavefur ársins', 'stærri fyrirtæki, 50+', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Ársskýrsla Landsbankans 2015', 'https://arsskyrsla2015.landsbankinn.is/', ['Landsbankinn', 'Jónsson & Le‘macks', 'Advania'])
      column.large-up-offset-1.large-5
        +nominee('Nýr vefur Eimskips', 'http://www.eimskip.com/', ['Skapalón', 'Vettvangur', 'Funksjón vefráðgjöf'])
      column.large-5
        +nominee('Reykjavik Excursions', 'https://www.re.is/', ['Hugsmiðjan'])
      column.large-up-offset-1.large-5
        +nominee('Sjóvá', 'https://www.sjova.is/', ['Kosmos & Kaos', 'Vettvangur'])
      column.large-5
        +nominee('Vörður tryggingafélag', 'http://www.vordur.is', ['Sendiráðið'])


  +item('Efnis- og fréttaveita ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Hmagasin', 'http://www.hmagasin.is', ['Hugsmiðjan '])
      column.large-up-offset-1.large-5
        +nominee('K100 útvarpsstöð', 'http://www.k100.is', ['Sendiráðið'])
      column.large-5
        +nominee('Nútíminn', 'http://www.nutiminn.is', ['Fálki útgáfa', 'Guðmundur Sigursteinn Jónsson forritari'])
      column.large-up-offset-1.large-5
        +nominee('Tímamót', 'http://www.timamot.is', ['Hugsmiðjan', 'Döðlur'])
      column.large-5
        +nominee('Umræðan – Umræðuvefur Landsbankans', 'https://umraedan.landsbankinn.is/', ['Landsbankinn', 'Jónsson & Le‘Macks', 'Advania'])


  +item('Opinberi vefur ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Einkaleyfastofan', 'http://www.els.is', ['Kosmos & Kaos'])
      column.large-up-offset-1.large-5
        +nominee('Kópavogsbær', 'http://www.kopavogur.is', ['Stefna'])
      column.large-5
        +nominee('Nýr vefur Hafnarfjarðarbæjar', 'http://www.hafnarfjordur.is/', ['Hugsmiðjan', 'Funksjón vefráðgjöf'])
      column.large-up-offset-1.large-5
        +nominee('Nýr vefur Íslandsstofu', 'http://www.islandsstofa.is', ['Kosmos & Kaos', 'DaCoda'])
      column.large-5
        +nominee('Veitur', 'https://www.veitur.is', ['Kosmos & Kaos'])


  +item('Markaðsvefur ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Go Digital', 'https://2016.godigital.is', ['Kolibri'])
      column.large-up-offset-1.large-5
        +nominee('Iceland Academy', 'http://inspired.visiticeland.com/academy', ['Skapalón', 'Íslenska auglýsingastofan'])
      column.large-5
        +nominee('Iceland Airwaves', 'https://www.landsbankinn.is/icelandairwaves/', ['Landsbankinn', 'Jónsson & Le‘macks', 'Aranja'])
      column.large-up-offset-1.large-5
        +nominee('PrescribeWellness', 'http://www.prescribewellness.com/', ['ueno.'])
      column.large-5
        +nominee('Zero Financial', 'https://zerofinancial.com/', ['ueno.'])


  +item('App ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Aur Posi', 'https://aur.is/posi', ['Stokkur Software ehf.'])
      column.large-up-offset-1.large-5
        +nominee('Íslandsbanka Appið', 'https://www.islandsbanki.is/einstaklingar/netlausnir/app/', ['Íslandsbanki', 'Kolibri'])
      column.large-5
        +nominee('Kass', 'https://kass.is', ['Memento Payments'])
      column.large-up-offset-1.large-5
        +nominee('Strætó app', 'https://www.straeto.is/is/verslun/straeto-appi', ['Stokkur Software ehf.'])
      column.large-5
        +nominee('WOW appið', 'https://wowair.is/flug/wow-app/', ['Stokkur Software ehf.'])


  +item('Vefapp ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Betri Reykjavík', 'https://betrireykjavik.is', ['Íbúar SES', 'Reykjavíkurborg'])
      column.large-up-offset-1.large-5
        +nominee('Farsímabanki Landsbankans - L.is', 'https://l.is', ['Landsbankinn'])
      column.large-5
        +nominee('Híbýli', 'https://hiby.li', ['Sölvi Logason', 'Halldór Bjarni Þórhallsson'])
      column.large-up-offset-1.large-5
        +nominee('Innranet Logos lögfræðistofu', '', ['Sendiráðið'])
      column.large-5
        +nominee('Sprotarnir', 'http://sprotarnir.is/', ['Landsbankinn', 'Aranja', 'Kári Gunnarsson', 'Felix Bergsson'])


  +item('Samfélagsvefur ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Alvogen - samfélagsverkefni', 'http://csr.alvogen.com', ['Skapalón'])
      column.large-up-offset-1.large-5
        +nominee('Krabbameinsfélag Íslands', 'http://www.krabb.is', ['Hugsmiðjan'])
      column.large-5
        +nominee('Nýr vefur Rauða krossins á Íslandi', 'https://www.raudikrossinn.is/', ['Hugsmiðjan'])
      column.large-up-offset-1.large-5
        +nominee('Spurt og svarað um áliðnaðinn', 'http://www.samal.is', ['Stefna', 'Jónsson & Le‘macks'])
      column.large-5
        +nominee('Styrktarfélag lamaðra og fatlaðra', 'http://www.slf.is', ['Stefna', '1xINTERNET'])


  +item('Vefverslun ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('BESTSELLER á Íslandi', 'https://www.bestseller.is', ['Vettvangur'])
      column.large-up-offset-1.large-5
        +nominee('Húsasmiðjan', 'http://www.husa.is', ['Sendiráðið'])
      column.large-5
        +nominee('Tix Miðasala', 'http://tix.is')
      column.large-up-offset-1.large-5
        +nominee('Vefverslun IKEA', 'http://www.ikea.is')
      column.large-5
        +nominee('Verve Wine', 'https://www.vervewine.com/', ['ueno.'])


  +item('Innri vefur ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Flugan - innri vefur Isavia', '', ['Sendiráðið', 'Funksjón vefráðgjöf'])
      column.large-up-offset-1.large-5
        +nominee('Innranet Logos lögfræðistofu', '', ['Sendiráðið'])
      column.large-5
        +nominee('Team 66', '', ['Premis'])
      column.large-up-offset-1.large-5
        +nominee('Uppfærður innrivefur Póstsins', '', ['Vettvangur'])
      column.large-5
        +nominee('Þjónustuvefur Ljósleiðarans', '', ['Kosmos & kaos', 'Koala ráðgjöf'])


  +item('Vefkerfi ársins', '', '', 'blue')
    grid.text-left
      column.large-5
        +nominee('Velkomin í viðskipti', 'https://www.arionbanki.is/signup', ['Arion banki', 'Kosmos & Kaos'])
      column.large-up-offset-1.large-5
        +nominee('Farsímabanki Landsbankans - L.is', 'https://l.is', ['Landsbankinn'])
      column.large-5
        +nominee('FitSucccess fjarþjálfun', 'http://www.fitsuccess.is', ['Funksjón vefráðgjöf', 'Arnar Ólafsson (hönnun)', 'Sendiráðið (vefun og forritun)'])
      column.large-up-offset-1.large-5
        +nominee('Netbanki einstaklinga', 'https://netbanki.landsbanki.is', ['Landsbankinn'])
      column.large-5
        +nominee('Netbanki fyrirtækja', 'https://www.fbl.is', ['Landsbankinn'])
