extends /templates/shared/_layout

block content
  +pagetitle('Verðlaunaafhending', 'green smaller-headline')

  +item('Verðlaunaafhending', '', '', 'green')
    p Íslensku vefverðlaunin verða haldin föstudaginn 26. janúar 2018 við hátíðlega athöfn í Silfurbergi Hörpu. Gleðin byrjar með fordrykk og léttum veitingum kl. 17:30 en verðlaunaafhendingin hefst stundvíslega kl. 18:00.

    p Allir félagar í SVEF fá frítt inn að vanda en aðrir þurfa að borga 4.900 kr. til að mæta kostnaði. Að þessu sinni verður nauðsynlegt að skrá sig:

    p: a.button.color-green(href='https://skraning.vefverdlaun.is/' target="_blank") Skrá mig á verðlaunaafhendingu

    p Hægt verður að taka frá hringborð fyrir fyrirtæki með marga gesti. Hvert borð tekur 8 manns. Vín er val, en er keypt beint af Hörpu. Tekið er með pöntunum í gegnum tölvupóst og verður allt tilbúið við komu.

    p Hægt er að velja um eftirfarandi fyrir borð (2 drykkir á mann):

    ul
      li 2 léttvínsflöskur (hvítt/rautt) og 6 bjórar 19.000 kr.
      li 1 léttvínsflaska (hvítt/rautt) og 11 bjórar 18.000 kr.
      li 16 bjórar 17.000 kr.

    p Til að panta fyrir hópa skal senda póst á <a href="mailto:svef@svef.is?subject=#pant">svef@svef.is</a> með subjectinu #pant. Nauðsynlegt er að símanúmer fylgi vegna kortagreiðslu ef kaupa á vín. Borðapantanir þurfa að hafa borist miðvikudaginn 24. janúar kl. 12.
