extends /templates/shared/_layout

block content
  +pagetitle('Viðurkenningar', 'green smaller-headline')

  +item('Viðurkenningar', '', '', 'green')
      p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla iðnaðinn, verðlauna bestu verkefnin og hvetja þá sem starfa á þessum vettvangi til dáða. Verðlaunin fara nú fram í sautjánda sinn.

      p SVEF leitar til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á seinasta ári.

      p Hægt er að tilnefna til viðurkenninga til loka dags mánudagsins 22. janúar 2018.

  +item('Flokkar', '', '', 'green')
      p Í ár er hægt að tilnefna í eftirfarandi flokkum:

      ul
        li: a(target="_blank", href="https://docs.google.com/forms/d/e/1FAIpQLSelWhw3LkNh6Fsw5VZ-x3yELaqUximPh8zCBeznz6sp34jm_Q/viewform") Vefhetja ársins
        li: a(target="_blank", href="https://docs.google.com/forms/d/e/1FAIpQLScJxtilW1Yy3yISUzaBc-bn0N66y285Y7fdqAfIdUv-hAstNA/viewform") Opinn hugbúnaður ársins
        li: a(target="_blank", href="https://docs.google.com/forms/d/e/1FAIpQLSdCOB3e-VhUcSFzDEEYVaJtiO0gau8Ct3NliPrdWS1627HWLA/viewform") Einstaklingsvefur ársins

      p: a.button.color-green(href='https://docs.google.com/forms/d/e/1FAIpQLSelWhw3LkNh6Fsw5VZ-x3yELaqUximPh8zCBeznz6sp34jm_Q/viewform' target="_blank") Tilnefna vefhetju

      p: a.button.color-green(href='https://docs.google.com/forms/d/e/1FAIpQLScJxtilW1Yy3yISUzaBc-bn0N66y285Y7fdqAfIdUv-hAstNA/viewform' target="_blank") Tilnefna opinn hugbúnað

      p: a.button.color-green(href='https://docs.google.com/forms/d/e/1FAIpQLSdCOB3e-VhUcSFzDEEYVaJtiO0gau8Ct3NliPrdWS1627HWLA/viewform' target="_blank") Tilnefna einstaklingsvef
