extends /templates/shared/_layout

block content
  +pagetitle('Viðurkenningar', 'green smaller-headline')

  section: grid
    column.large-up-offset-1.large-10
      h3 Viðurkenningar 2017

  +item('Einstaklingsvefur', '', '', 'green')
    grid.text-left
      column.large-10
        +winner('thorkelsdottir.com', 'http://thorkelsdottir.com/', [])
        blockquote.judges.judges--no-intro
          p Einstaklingsvefurinn í ár er sérlega líflegur og skemmtilegur. Litir og hreyfing fá að njóta sín á vefnum, en efnið er sett fram á einstakan hátt og vefurinn hlaut fullt hús stiga fyrir áhugaverða nálgun og frískandi notendaupplifun.

  +item('Open source verkefni', '', '', 'green')
    grid.text-left
      column.large-10
        +winner('kjosturett.is', 'https://kjosturett.is/', [])
        blockquote.judges.judges--no-intro
          p Open Source verkefnið er áhugaverður vefur sem kemur hvimleiðu efni fram á skiljanlegan og skemmtilegan hátt. Vefurinn er þörf viðbót í íslenska samfélagið og á þessa viðurkenningu fyllilega skilið.

  +item('Vefhetja ársins', '', '', 'green')
    grid.text-left
      column.large-10
        +winner('Einar Þór Gústafsson', '', [])
        blockquote.judges.judges--no-intro
          p Vefhetja ársins í ár er einn af stofnendum SVEF, en hann tekið að sér ýmis verkefni fyrir félagið þar sem hann hefur unnið ötult og óeigingjarnt starf. Hann var einnig upphafsmaður IceWeb ráðstefnunnar, ráðstefnu sem hann stýrði einmitt hér fyrr í dag.

          p Hann hefur starfað í vefbransanum frá aldamótum og hefur ávallt verið mjög virkur í samfélaginu. Hann var forstöðumaður vefþróunar hjá Íslandsbanka og síðar framkvæmdastjóri vöruþróunar hjá Meniga, en hjá þeim fyrirtækjum hlutu verkefni á hans vegum fjölda viðurkenninga um allan heim. Í dag er vefhetjan okkar stofnandi sprotafyrirtækisins Getlocal, en þar er hann m.a. ábyrgur fyrir tækni og hönnun.

  +item('Gott aðgengi á vef', '', '', 'green')
    grid.text-left
      column.large-10
        +winner('Þjóðskrá Íslands', 'https://skra.is/', [])
        blockquote.judges.judges--no-intro
          p Vefurinn sem hlýtur viðurkenninguna gott aðgengi á vef er einstaklega notendavænn og aðgengilegur vefur. Vefurinn fær toppeinkunni í aðgengisprófunum, eins gott, því þetta er vefur sem við þurfum öll að heimasækja einhvern tíman á lífsleiðinni.

  +item('Viðurkenningar', '', '', 'green')
      p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla iðnaðinn, verðlauna bestu verkefnin og hvetja þá sem starfa á þessum vettvangi til dáða. Verðlaunin fara nú fram í sautjánda sinn.

      p SVEF leitar til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á seinasta ári.

      p Hægt var að tilnefna til viðurkenninga til loka dags mánudagsins 22. janúar 2018.

  +item('Flokkar', '', '', 'green')
      p Í ár var hægt að tilnefna í eftirfarandi flokkum:

      ul
        li Vefhetja ársins
        li Opinn hugbúnaður ársins
        li Einstaklingsvefur ársins
