extends /templates/shared/_layout

block content
  +pagetitle('Viðurkenningar', 'green smaller-headline')

  +item('Viðurkenningar', '', '', 'green')
      p Íslensku vefverðlaunin eru uppskeruhátíð vefiðnaðarins, haldin með það að markmiði að efla iðnaðinn, verðlauna bestu verkefnin og hvetja þá sem starfa á þessum vettvangi til dáða. Verðlaunin fara nú fram í sautjánda sinn.

      p SVEF leitar til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á seinasta ári.

      p Hægt var að tilnefna til viðurkenninga til loka dags mánudagsins 22. janúar 2018.

  +item('Flokkar', '', '', 'green')
      p Í ár var hægt að tilnefna í eftirfarandi flokkum:

      ul
        li Vefhetja ársins
        li Opinn hugbúnaður ársins
        li Einstaklingsvefur ársins
