extends /templates/shared/_layout

block content
  +pagetitle('Workshops', 'yellow')

  section.splitsection
    grid
      column.text-center
        p All workshops will be held on the 26th of January, at Hilton Reykjavík Nordica

  +item('Storymapping the User Experience', 'Donna Lichaw', '/images/donna@2x.png', 'yellow')
    p What does a great user experience have in common with a great story? Everything. Translating complex concepts into simple, impactful narratives can help you more effectively imagine and evaluate your products, campaigns, content, and features – before committing to expensive pixels and code. Developing a product with an experience that engages, influences, and inspires can be a daunting task – but the art of crafting a compelling story is easily learned.

    p In this workshop you will learn how simple storytelling techniques can transform your next idea, product, campaign, or strategy from good, to great. Whether you are creating something from scratch, or optimizing it for conversion, activation, or engagement, mapping the story first will help you determine how to envision and develop something people not only love to use, but utilize and recommend often.

    h3 Learn how to increase first-time and lifetime customer engagement by:
    ul
      li Crafting simple, powerful business, product, and customer stories that inspire your target audience
      li Defining and refining your product’s core value proposition
      li Evaluating the product-market fit as it relates to audience engagement
      li Identifying how and why people will discover, use, pay for, and get excited about your product
      li Mapping out strategies to get people to adopt, utilize, and evangelize your product

    h3 Who is this for?

    p This workshop is for anyone who builds products, services, or campaigns that people engage with: designers, product and project managers, marketers, content strategists, developers, entrepreneurs, and executives have all taken the workshops and reshaped how they build, talk about, and sell products.

    h3 What do others say?

    p The workshop has garnered praise from top names in the technology, publishing, entertainment, and consumer goods, including PayPal, Spotify, NY Public Radio, Wall Street Journal, Walmart, Conde Nast, and Yahoo!.

    blockquote “In total love with this process.”
    blockquote “The best workshop I've been to in years.”
    blockquote “Your workshop has really changed the way I work.”
    blockquote “My sketch of a product idea has now made it to the very top of my company. Your workshop was awesome!”
    blockquote “The storymapping concept was incredibly inspiring and, for me, game-changing in the way I approach content creation and user experience. LOVED it!”

    p: a.button.big.color-yellow.outline.padded(href='http://svef.is/vidburdir/workshop-donna/' target='_blank') Buy tickets to this workshop

  +item('Persuasive Design Training', 'Paul Boag', '/images/paul@2x.png', 'yellow')
    p Why do we buy? Why do we click a call to action or sign up for a newsletter? Why do we do what we do? We like to think we make rational decisions, but it is more complicated than that.

    p Understanding why people behave as they do and what influences decisions will transform your site. It will lead to higher conversion rates, greater return on investment and happier customers.

    p This course will draw upon disciplines such as sales, marketing and psychology. This will give you a unique insight into how we make decisions. It will show you how simple techniques can make your design more persuasive and more effective.

    p This course is ideal for designers, marketers and product managers. Those who are responsible for improving the conversion rates of websites. It is for anybody who seeks to better understand their customers and how design choices impact our decision making.

    h3 Programme

    p This course will not teach you how to manipulate people into doing what they don’t want to do. But it will teach you how to nudge them towards taking action.

    p It will help you understand the factors that influence how people respond to your website. Factors that determine how they react to the choices you present them. Understanding these factors will have a major impact on your conversion rate.

    h3 What you will learn

    ul
      li An introduction to psychology and how we make decisions.
      li What elicits or undermines trust in a website.
      li The core principles of designing persuasive interfaces.
      li Principles of compelling copy.
      li Evaluating existing websites to identify how they could be more persuasive.
      li How to create more compelling calls to action.

    h3 How will we benefit?<br>When your team has completed this workshop they will be able to:

    ul
      li Understand the key factors that impact our decision making process.
      li Be able to avoid the pitfalls that may undermine trust and discourage action.
      li Implement design techniques that nudge users towards action.
      li Evaluate websites and other digital channels for their impact on persuasion.
      li Write more effective, engaging copy that builds trust and elicits action.

    p: a.button.big.color-yellow.outline.padded(href='http://svef.is/vidburdir/workshop-paul/' target='_blank') Buy tickets to this workshop

  +item('From project to process - demystifying web accessibility', 'Birkir Gunnarsson', '', 'yellow')

    p Web accessibility (and digital accessibility in general) is becoming a regulatory requirement all over the world. The U.S. has seen more than 250 web accessibility lawsuits, the EU just approved a comprehensive web accessibility directive for all public sector websites and applications, Canada is in the process of enacting similar regulations (the province of Ontario has already had them in place for years). Accessibility is a business opportunity, almost 1 in 5 people reports having some type of a disability, that is e.g. 20 times the number of people who use IE10.

    p Accessibility has a lot in common with responsive design. More and more people rely on accessibility in certain situations (e.g. when viewing videos without sound, using voice control or viewing mobile device screen in poor lighting conditions).

    p But what is web accessibility, how do we measure it, and how do we implement it without hiring an army of expensive consultants who write overly complicated recommendation reports that end up in the "WTF" bin?

    p In this half day workshop Iceland's accessibility viking will cover the W3C´s WCAG 2.0 standard that is used to measure accessibility, demonstrate how it makes a difference to your users, and explain how you can magically make it easy and affordable by integrating it into your content and component creation processes. He will share handy tools, techniques, checklists, web resources and posters.

    p Birkir has worked with a variety of Fortune 500 corporations, building enterprise accessibility programs from the ground up. He has worked in various W3C accessibility working groups, such as the ARIA and ARIA Authoring Practices groups. He currently co-chairs the auto-WCAG group, a group tasked with creating W3C approved accessibility tests. He participated in the European Inclusive Internet Initiative (EIII), contributed examples to Deque University and has worked on the aXe open source accessibility testing platform. He recently accepted the position of digital accessibility lead at BB&T bank, one of the U.S.'s largest banks, where he plans to implement the most efficient and effective accessibility program in the financial industry.

    p He likes to spice up his presentations with terrible puns and even worse music, so do not expect to fall asleep in this workshop.

    p: a.button.big.color-yellow.outline.padded(href='http://svef.is/vidburdir/workshop-birkir/' target='_blank') Buy tickets to this workshop

  +item('Front-end Performance: Building Fast Websites', 'Harry Roberts', '/images/harry@2x.png', 'yellow')

    p Performance is big business. Every case study out there tells us that users hate slow experiences, and that faster experiences generate more conversions: more conversions means more money. But, in the age of diversifying audiences on a variety of unknown connections, the mobile boom meaning more people on sub-standard networks, and the web’s serious bloat problem, general performance experiences are pretty bad.

    p In this workshop, we’ll take an in-depth look at
    ul
      li how the network really works, and how to design around it;
      li how to keep websites fast whilst keeping clients and stakeholders happy;
      li how to optimise our assets for faster delivery;
      li how to trick the browser into delivering assets with different priorities;
      li how to measure and profile performance wins and losses;
      li a whole host of tips, tricks, and techniques to help us deliver the same experiences in record times;
      li a bunch of fascinating little factoids and trivia which help shine a light on what’s really going on under the hood;
      li lots of naughty little micro-optimisations, just for fun;
      li and a lot, <i>lot</i> more.

    p This workshop is targeted at intermediate to advanced front-end developers, web designers, and software engineers, or anybody who writes code. There will be resources and case studies for you to take back to non-technical stakeholders to help convince them of the power of performance.

    p You will need a laptop, and something for making a lot of notes.

    p: a.button.big.color-yellow.outline.padded(href='http://svef.is/vidburdir/workshop-harry/' target='_blank') Buy tickets to this workshop

  +item('New Adventures in Responsive Web Design', 'Vitaly Friedman', '/images/vitaly@2x.png', 'yellow')

    p With HTTP/2, Service Workers, Responsive Images, Flexbox, SVG, WAI-ARIA roles and Font Loading API now available in browsers, we all are still trying to figure out just the right strategy for designing and buildings responsive websites efficiently. We want to use all of these technologies and smart processes like atomic design, but how can we use them efficiently, and how do we achieve it within a reasonable amount of time?

    p In this workshop, Vitaly Friedman, editor-in-chief of Smashing Magazine, will be looking into a strategy for crafting fast, resilient and flexible responsive design systems by utilizing all of those wonderful shiny web technologies we have available today. We'll also talk about dealing with legacy browsers and will cover a few dirty little techniques that might ensure that your responsive websites will stay relevant, flexible and accessible in the years to come. Beware: you won’t be able to unlearn the things that you’ll learn in the workshop!

    p This workshop will cover

    ul
      li architecting and building pattern libraries and design systems
      li content choreography, internationalization and localization issues
      li layout techniques (Flexbox and CSS Grid)
      li resolution independence (SVG Gotchas)
      li compressive images (optimization and techniques)
      li responsive images (technical perspective)
      li dealing with web fonts (options, strategy, code snippets)
      li deferring and lazy-loading JavaScript (techniques, tools)
      li performance issues/strategy (best practices + HTTP/2 + HTTPS + prefetching techniques)
      li transition from HTTP to HTTPS
      li maintenance issues (e.g. dealing with legacy browsers)
      li service workers and implication on design and development
      li common front-end challenges and solutions
      li accessibility issues and techniques
      li responsive HTML email newsletters
      li tooling (performance, frameworks, testing, quality assurance)

    p: a.button.big.color-yellow.outline.padded(href='http://svef.is/vidburdir/workshop-vitaly/' target='_blank') Buy tickets to this workshop
