//- section.white.cta
    grid
      column.large-6.text-center
        p Í ár er bryddað upp á þeirri nýbreytni að leita til félaga og áhugafólks í vefbransanum með tilnefningar til viðurkenninga fyrir vel unnin störf á seinasta ári.
        p
          a.button.color-red(href='https://goo.gl/forms/IqvZVCfWRGoP7ruD2' target='_blank') Tilnefna til viðurkenninga

footer
  grid
    column
      p Íslensku vefverðlaunin eru haldin af <a href="http://svef.is" title="Samtök Vefiðnaðarins">SVEF</a>

  include /images/hexagon.svg
