section.white.cta
  grid
    column.text-center
      .disabled.button.color-blue-dark(href='#tilnefna' target='_blank') Tilnefna vef

footer
  grid
    column
      p Íslensku vefverðlaunin eru haldin af <a href="http://svef.is" title="Samtök Vefiðnaðarins">SVEF</a>

  include /images/hexagon.svg
