header
  grid.no-gutter
    column.large-6: nav.left
      a(href='/') Heim
      a(href='/domnefnd.html') Dómnefnd
      a(href='/flokkar.html') Flokkar
      //- a(href='/tilnefningar.html') Tilnefningar
      .hide-on-large.button.outline(href='#tilnefna' target='_blank') Tilnefna vef

    column.large-6: nav.right
      p: a.button.color-primary(href='https://docs.google.com/forms/d/e/1FAIpQLSdh8rabnywxVwPmG6snEm8fmF1ABS7QEskMfAPL55rJX5bawQ/formResponse' target="_blank") Senda inn vef

  .logo
    include /images/hexagon.svg
