header
  grid.no-gutter
    column.large-6: nav.left
      a(href='/') Heim
      a(href='/domnefnd.html') Dómnefnd
      a(href='/flokkar.html') Flokkar
      a(href='/vidurkenningar.html') Viðurkenningar
      //- a(href='/tilnefningar.html') Tilnefningar
      .hide-on-large.buttons-mobile
        //- a.button.outline(href='https://goo.gl/forms/P4MiLGGGBSzfKCa22' target='_blank') Tilnefna í dómnefnd
        //- a.button.outline(href='https://goo.gl/forms/QgBZyyaKcup6qnG12' target='_blank') Senda inn vef

    column.large-6: nav.right
      .buttons
        //- a.button.color-green(href='https://goo.gl/forms/P4MiLGGGBSzfKCa22' target="_blank") Tilnefna í dómnefnd
        //- a.button.color-primary(href='https://goo.gl/forms/QgBZyyaKcup6qnG12' target="_blank") Senda inn vef

  .logo
    include /images/hexagon.svg
