header
  grid.no-gutter
    column.large-6: nav.left
      a(href='/') Heim
      //- a(href='/tilnefningar.html') Tilnefningar
      //- a(href='/vidurkenningar.html') Viðurkenningar

      //- .hide-on-large.buttons-mobile
        //- a.button.outline(href='https://goo.gl/forms/P4MiLGGGBSzfKCa22' target='_blank') Tilnefna í dómnefnd
        //- a.button.outline(href='https://goo.gl/forms/QgBZyyaKcup6qnG12' target='_blank') Senda inn vef

    column.large-6: nav.right
      //- a(href='/verdlaunaafhending.html') Verðlaunaafhending
      a(href='/flokkar.html') Flokkar
      a(href='/domnefnd.html') Dómnefnd

  .logo
    include /images/hexagon.svg
