header
  grid.no-gutter
    column.large-6: nav.left
      a(href='/') Heim
      a(href='/about.html') Um hátíðina
      a(href='/speakers.html') Dómnefnd
      a(href='/workshop.html') Flokkar
      a.hide-on-large(href='/about.html') Um hátíðina
      //- .hide-on-large.button.outline(href='#tilnefna' target='_blank') Tilnefna vef

    column.large-6: nav.right
      //- .button.outline(href='#tilnefna' target='_blank') Tilnefna vef

  .logo
    include /images/hexagon.svg
