header
  grid.no-gutter
    column.large-6: nav.left
      a(href='/') Home
      a(href='/speakers.html') Speakers
      a(href='/workshop.html') Workshops
      a(href='/schedule.html') Schedule
      a.hide-on-large(href='/about.html') About
      a.hide-on-large.button.outline(href='http://svef.is/vidburdir/iceweb2017/' target='_blank') Buy tickets

    column.large-6: nav.right
      a(href='/about.html') About
      a.button.outline(href='http://svef.is/vidburdir/iceweb2017/' target='_blank') Buy tickets

  .logo
    include /images/hexagon.svg
