extends /templates/shared/_layout

block content
  +pagetitle('Tilnefningar', 'blue')

  grid
    column.large-up-offset-1.large-11
      h3 Tilnefningar og sigurvegarar 2015

    column.large-up-offset-1.large-4
      +category('Besti íslenski vefurinn')
        +winner('Tix Miðasala', 'http://www.tix.is', 'Skapalón')
        p Dómnefnd velur þann vef sem þykir fremstur meðal jafningja, en besti íslenski vefurinn er að vanda valinn úr tilnefndum vefjum í neðangreindum flokkum.

    column.large-up-offset-1.large-4
      +category('Besta hönnun og viðmót')
        +winner('VÍS.is', 'http://vis.is', 'Kolibri')
        p Dómnefnd velur þann vef sem þykir skara fram úr í samþættingu á góðu notendaviðmóti og góðri hönnun sem svo spilar vel með starfsemi fyrirtækisins eða vefsins sem um ræðir.

    column.large-up-offset-1.large-4
      +category('Val fólksins')
        +winner('Nordic Visitor', 'https://www.nordicvisitor.com/', 'Kosmos og Kaos, DaCoda og Snark')
        p
          | Félagsmenn SVEF velja þann vef sem þeim þótti athyglisverðastur á árinu,
          | valið er að mörgu leiti opið en leitast er við að finna vef sem þótti vera
          | með áhugaverða nálgun á framsetningu efnis, notkun á tækni, uppbyggingu innihalds o.s.frv. Valið er úr tilnefndum vefjum í neðangreindum flokkum.

    column.large-up-offset-1.large-4
      +category('Frumlegasti vefurinn')
        +winner('Ljósleiðarinn', 'http://www.ljosleidarinn.is', 'Kosmos og Kaos, Koala, Hvíta Húsið')
        p Dómnefnd velur þann vef sem þykir frumlegastur. Hér er horft til þátta eins og best útfærðu nýjungarinnar eða óhefðbundinnar nálgunar við viðfangsefnið. Leitað er að vef sem sýnir að frumkvæði og vinnubrögð sem ganga bak rótgrónum aðferðum skila ferskri útkomu.

  grid.text-center
    column.large-up-offset-1.large-3
      +category('Aðgengilegir vefir')
        +winner('Öryrkjabandalag Íslands', 'http://obi.is', 'Stefna, Fúnksjón og Sjá')
        +nominee('Framkvæmdasýsla ríkisins', 'http://fsr.is', 'Hugsmiðjan')
        +nominee('Háskólinn í Reykjavík', 'http://hr.is', 'Hugsmiðjan og Skapalón')
        +nominee('Hljóðbókasafn Íslands', 'http://hbs.is', 'Prógramm ehf.')
        +nominee('Netbanki Landsbankans', 'https://netbanki.landsbankinn.is')

    column.large-up-offset-1.large-3
      +category('Vefmiðlar')
        +winner('Stundin', 'http://www.stundin.is', 'Útgáfufélagið Stundin ehf, Jón Ingi Stefánsson og Egill Sigurðarson')
        +nominee('Fréttatíminn', 'http://www.frettatiminn.is', 'Vefstofan')
        +nominee('Kjarninn.is', 'http://kjarninn.is', 'Overcast software ehf.')
        +nominee('KrakkaRÚV', 'http://www.krakkaruv.is', 'Nýmiðladeild RÚV, Björn Salvador og Jón Frímannsson')
        +nominee('RÚV', 'http://www.RUV.is', 'Nýmiðladeild RÚV, Björn Salvador og Jón Frímannsson')

    column.large-up-offset-1.large-3
      +category('Non-profit vefir')
        +winner('Bréf til bjargar lífi', 'http://www.amnesty.is/bref-til-bjargar-lifi', 'Hugsmiðjan og Brandenburg')
        +nominee('Eldhúsatlasinn', 'http://www.eldhusatlasinn.is')
        +nominee('VR', 'http://www.vr.is', 'Sendiráðið og Sjá')
        +nominee('SOS á Íslandi', 'http://www.sos.is', 'TM Software')
        +nominee('Öryrkjabandalag Íslands', 'http://www.obi.is', 'Stefna og Fúnksjón')

    column.large-up-offset-1.large-3
      +category('Opinberir vefir')
        +winner('Ísland.is', 'https://www.island.is', 'Advania, Hugsmiðjan og Scytl')
        +nominee('Búrfellslundur', 'http://burfellslundur.landsvirkjun.is/', 'Jónsson & Le’macks, Mannvit og Skapalón')
        +nominee('Hverfisskipulag Reykjavíkur', 'http://www.hverfisskipulag.is', 'Brandenburg')
        +nominee('Visit Iceland', 'http://visiticeland.com', 'Skapalón')
        +nominee('Vínbúðin', 'http://www.vinbudin.is', 'TM software')

    column.large-up-offset-1.large-3
      +category('Öpp / Veföpp')
        +winner('QuizUp.com', 'http://www.quizup.com')
        +nominee('Aur', 'http://www.aur.is', 'Stokkur og Nova')
        +nominee('Gengi.is', 'http://gengi.is', 'Kolibri')
        +nominee('Húsnæðislánareiknivél Íslandsbanka', 'https://www.islandsbanki.is/reiknivel', 'Skapalón, Advania og Sjá')
        +nominee('Mappan – vefapp', 'https://mappan.is/mappan/#/login', 'Kolibri')

    column.large-up-offset-1.large-3
      +category('Markaðsherferðir á netinu')
        +winner('Innri fegurð', 'http://innrifegurd.bluelagoon.is', 'Kolibri og Döðlur')
        +nominee('EVE Online', 'http://www.eveonline.com')
        +nominee('Golfleikur Varðar', 'http://golfleikur.vordur.is/', 'Sendiráðið og Íslenska')
        +nominee('Landsbankinn – Iceland Airwaves', 'https://www.landsbankinn.is/icelandairwaves/', 'Jónsson & Le’macks og Aranja')
        +nominee('Útmeð\'a', 'http://www.utmeda.is', 'Tjarnargatan')

    column.large-up-offset-1.large-3
      +category('Þjónustusvæði starfsmanna')
        +winner('Flugan – innri vefur Isavia og dótturfélaga', '', 'Sendiráðið og Fúnksjón')
        +nominee('Fræðslusetur Starfsmenntar og námskeiðakerfi', '', 'Fúnksjón og Advania')
        +nominee('Innri vefur Garðabæjar', '', 'Advania')
        +nominee('Innri vefur Reykjavíkurborgar', '', 'Fúnksjón og IxInternet.de')
        +nominee('Innri vefur Símans')

    column.large-up-offset-1.large-3
      +category('Þjónustusvæði viðskiptavina')
        +winner('Netbanki Landsbankans', 'https://netbanki.landsbankinn.is')
        +nominee('Mappan – vefapp', 'https://mappan.is/mappan/#/login', 'Kolibri')
        +nominee('Þjónustuvefur Creditinfo', 'https://www.creditinfo.is/kynningarefni/thjonustuvefur.aspx', 'Skapalón')
        +nominee('Þjónustuvefur Ljósleiðarans', 'http://thjonustuvefur.ljosleidarinn.is', 'Kosmos og Kaos, Koala')
        +nominee('Þjónustuvefur Símans, einstaklingar', 'https://www.siminn.is/adstod/klaradu-malid/thjonustuvefur/')

    column.large-up-offset-1.large-3
      +category('Einstaklingsvefir')
        +winner('Olafur Arnalds', 'http://www.olafurarnalds.com', 'Ueno')
        +nominee('Eldhúsatlasinn', 'http://www.eldhusatlasinn.is')
        +nominee('Ég er Unik', 'https://egerunik.is/', 'Advania')
        +nominee('Rúnar Guðbjartsson', 'http://roogud.com/')
        +nominee('Stuck in Iceland', 'http://www.stuckiniceland.com')

    column.large-up-offset-1.large-3
      +category('Fyrirtækjavefir', 'lítil og meðalstór fyrirtæki')
        +winner('Tix Miðasala', 'http://www.tix.is', 'Skapalón')
        +nominee('Ljósleiðarinn', 'http://www.ljosleidarinn.is', 'Kosmos og Kaos, Koala, Hvíta Húsið')
        +nominee('Sendiráðið', 'http://www.sendiradid.is', 'Sendiráðið')
        +nominee('TripCreator', 'https://tripcreator.com', 'Kapall Markaðsráðgjöf')
        +nominee('Vík Prjónsdóttir', 'http://www.vikprjonsdottir.com', 'Jordi Serra Vega, Gunnar Þorvaldsson og Sendiráðið')

    column.large-up-offset-1.large-3
      +category('Fyrirtækjavefir', 'stærri fyrirtæki')
        +winner('Meniga.com', 'http://www.meniga.com', 'Róbert Örn Einarsson')
        +nominee('Dominos.is', 'http://www.dominos.is', 'Skapalón')
        +nominee('Háskólinn í Reykjavík', 'http://hr.is', 'Hugsmiðjan og Skapalón')
        +nominee('Nordic Visitor', 'https://www.nordicvisitor.com/', 'Kosmos og Kaos, DaCoda og Snark')
        +nominee('Orka náttúrunnar', 'http://www.on.is', 'Kosmos og Kaos og Kapall Markaðsráðgjöf')
